.title {
  text-align: center;
  margin-bottom: 20px; /* Ajusta el espacio según sea necesario */
  color: darkblue; /* Cambia el color si lo deseas */
  font-weight: bold;
}

.container {
  position: relative;
  width: 400px;
  height: 500px; /* Aumenta la altura del contenedor si es necesario */
  margin: 0 auto;
}

.court {
  position: absolute;
  top: 60%; /* Ajusta esto para mover la cancha hacia abajo */
  left: 50%;
  width: 200px;
  height: 200px;
  background-color: green;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.rectangle {
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.top {
  top: 30%; 
  left: 50%;
  transform: translateX(-50%);
}

.bottom {
  bottom: 10%; 
  left: 50%;
  transform: translateX(-50%);
}

.left {
  top: 60%;
  left: 0;
  transform: translateY(-50%);
}

.right {
  top: 60%;
  right: 0;
  transform: translateY(-50%);
}


